.element_1, .element_2 {
  min-height: 1px;
}

.button {
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #BD835C;
  font-size: 22px;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-left:40px;
}

.name {
  color: white;
  font-size: 25px;
  margin-top: 30px;
  box-sizing: border-box;
  text-align: center;
  padding:20px 0;
  font-weight: 100;
  display:table-cell;
  vertical-align:middle;
}

.element{
  margin-top:15%;
}

.important{
  color:#BD835C;
  font-weight:300;
  font-size:30px;
}

.name_madox {
  margin-top:35px;
  font-size: 55px;
}

.cats_background{
  background-image: url("../cats/minkotki.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px;
  min-height: 600px;
}