@import "_grid.scss";


//body {
//  font-family: 'Permanent Marker', cursive;
//}
.body {
  overflow-x: hidden;
}
.html {
  overflow-x: hidden;
}

.background {
  background-color: #020203;
  width: 100vw;
  height: 100vh;
  background-image: url("../cats/iStock-kotki.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}


.name {
  color: white;
  font-size: 40px;
}

.name_madox {
  font-size: 55px;
  font-weight: bold;
}


//.slide{
//  width: 200px;
//  height: 500px;
//  background-size: cover;
//
//}

.slider li {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}



body {
  background-color: black;
}