@import "_grid.scss";
@import "_header.scss";
@import "_front_page.scss";
@import "_footer.scss";

@keyframes animate
{
  0% { font-size:15px; }
  100% { font-size:40px; }
}

@-webkit-keyframes animate
{
  0% { font-size:15px; }
  100% { font-size:40px; }
}


*{
  margin: 0 auto;
}

html {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: black;
  min-height: 100vh;//dzięki temu stopka będzie na dole strony
}

.background {
  background-color: #020203;
  width: 100%;
  height: 87vh;
}

.view_height{
  min-height:87vh;
}

.slider li {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
 img {
   width:100%;
   height: auto;
 }
}

.content {
  //display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  color:#BD835C;
  padding: 30px;
  margin-top:20px;
}

  section.loop {
    display: flex;
    justify-content: space-between;

    > div{
      width: 45%;
    }
  }

.margin{
  margin-top:50px;
}

.important {
  text-align:center;
  font-weight: bold;
  padding:15px 0;


  animation-name:animate;
  animation-duration:7s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;

  -webkit-animation-name:animate;
  -webkit-animation-duration:7s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}


