@import "_grid.scss";
@import "_header.scss";
@import "_front_page.scss";
@import "_footer.scss";




*{
  margin: 0 auto;
}

html {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: black;
}

.background {
  background-color: #020203;
  width: 100%;
  height: 87vh;
  background-image: url("../cats/iStock-kotki.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.slider li {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
 img {
   width:100%;
   height: auto;
 }
}

.content {
  //display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  color:#BD835C;
  padding: 30px;
  margin-top:20px;
}

  section.loop {
    display: flex;
    justify-content: space-between;

    > div{
      width: 45%;
    }
  }

.margin{
  margin-top:50px;
}



